.render .content p {
    margin: 0 0 25px
}



.render .content blockquote h1:last-child,
.render .content blockquote h2:last-child,
.render .content blockquote h3:last-child,
.render .content blockquote h4:last-child,
.render .content blockquote h5:last-child,
.render .content blockquote h6:last-child,
.render .content blockquote li:last-child,
.render .content blockquote ol:last-child,
.render .content blockquote p:last-child,
.render .content blockquote ul:last-child {
    margin-bottom: 0
}

.render .content .video-package .video-description p {
    margin: 0
}

.render .content li p {
    overflow: visible
}

.render .content a {
    color: rgba(0, 0, 0, .84);
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .68) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: repeat-x;
    background-size: 2px .2em;
    background-position: 0 1.07em
}


/* .render .content a:hover {
    color: #3194d0;
    text-decoration: underline
} */


/* .render .content a.active,
.render .content a:active,
.render .content a:focus {
    color: #3194d0
} */

.render .content a.disabled,
.render .content a.disabled.active,
.render .content a.disabled:active,
.render .content a.disabled:focus,
.render .content a.disabled:hover,
.render .content a[disabled],
.render .content a[disabled].active,
.render .content a[disabled]:active,
.render .content a[disabled]:focus,
.render .content a[disabled]:hover {
    cursor: not-allowed;
    color: #f5f5f5
}

.render .content ol,
.render .content p,
.render .content ul {
    word-break: break-word!important;
    word-break: break-all
}

.render .content hr {
    margin: 0 0 20px;
    border-top: 1px solid #ddd
}

.render .content h1,
.render .content h2,
.render .content h3,
.render .content h4,
.render .content h5,
.render .content h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #2f2f2f;
    line-height: 1.7;
    text-rendering: optimizelegibility
}

.render .content h1 {
    font-size: 26px
}

.render .content h2 {
    font-size: 24px
}

.render .content h3 {
    font-size: 22px
}

.render .content h4 {
    font-size: 20px
}

.render .content h5 {
    font-size: 18px
}

.render .content h6 {
    font-size: 16px
}

.render .content img {
    max-width: 100%
}

.render .content blockquote {
    font-style: italic;
    font-size: 18px !important;
    color: rgba(0, 0, 0, .68);
    padding-left: 25px;
    padding-top:4px;
    padding-bottom: 4px;
    box-shadow:rgba(0, 0, 0, 0.843137) 3px 0px 0px 0px inset;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    margin-left:-20px !important;
}



.render .content ol {
    list-style-type: square;
}

.render .content ul {
    list-style-type: none;
}

.render .content ol,
.render .content ul {
    padding: 0;
    margin-left: 16px;
    margin-bottom: 20px;
    display: block;
}

.render .content ol {
    margin-left: 36px;
}

.render .content ol li,
.render .content ul li {
    margin-bottom: 10px;
    /* line-height: 30px */
}

.render .content ol li ol,
.render .content ol li ul,
.render .content ul li ol,
.render .content ul li ul {
    margin-top: 15px
}

.render .content ul li:before {
    font-size: 19.8px;
    padding-top: 4px;
    padding-right: 12px;
    content: '\2022';
}

.render .content ol .image-package,
.render .content ul .image-package {
    width: auto!important;
    margin-left: 0!important
}

.render .content code {
    background: rgba(0, 0, 0, .05);
    padding: 3px 4px;
    margin: 0 2px;
    font-size: 14px;
}

.render .content pre {
    font-size: 14px;
    word-wrap: normal;
    word-break: break-word!important;
    word-break: break-all;
    white-space: pre;
    overflow: auto;
    border-radius: 0;
    /* border: .3px solid #ddd;*/
    page-break-inside: avoid;
    display: block;
    /* line-height: 1.42857; */
    color: #333;
    background-color: #f8f8f8;
    border-radius: 4px;
    line-height: 27px;
    padding: 15px;
}

.render .content pre code {
    padding: 0;
    background-color: transparent;
    /* white-space: pre */
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}

.render .content table {
    width: 100%;
    margin-bottom: 20px;
    border: 0px solid #ddd;
    border-collapse: collapse;
    border-left: none;
    word-break: normal;
    display: table;
    overflow: auto;
}

.render .content table tr:nth-of-type(2n) {
    background-color: rgba(243, 243, 243, 0.3)
}

.render .content table thead th {
    vertical-align: middle;
    text-align: left;
    color: rgba(0, 0, 0, .64);
    font-size: 14px;
}

.render .content table tr {
    border-top: .3px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

.render .content table thead tr {
    border-top: none;
}

.render .content table td,
.render .content table th {
    padding: 12px 8px;
    border: 0px solid #ddd;
    line-height: 20px;
    vertical-align: middle
}

.render .content table th {
    font-weight: 500
}

.render .content table .image-package {
    width: auto;
    margin-left: 0
}

.render .content .image-package .image-container {
    z-index: 100;
    position: relative;
    background-color: #eee;
    transition: background-color .1s linear;
    margin: 0 auto
}

.render .content .image-package .image-container .image-container-fill {
    z-index: 50
}

.render .content .image-package .image-container .image-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.render .content .image-package .image-container .image-view img.image-loading {
    will-change: filter, opacity;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: .3
}

.render .content .image-package .image-container .image-view img {
    transition: all .15s linear;
    z-index: 100;
    will-change: filter, opacity;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
}



.render .content  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    cursor: -webkit-zoom-in;
    transition: all .25s ease-in-out
}



.render .content .image-package .image-caption:empty {
    display: none
}

.render .content .video-package {
    position: relative;
    margin: -20px auto 20px;
    text-align: center
}

.render .content .video-package .video-placeholder-area {
    position: relative;
    display: inline-block;
    height: 110px;
    padding: 10px;
    padding-left: 120px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    background-color: hsla(0, 0%, 71%, .1);
    text-align: left;
    cursor: pointer
}

.render .content .video-package .video-placeholder-area:after {
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    width: 110px;
    height: 110px;
    background-color: rgba(0, 0, 0, .3);
    background-image: url(//cdn2.jianshu.io/assets/common/play-btn-c4bc06b9dfe063495b6b8277b14bc5c3.png);
    background-position: 30px;
    background-size: 50px;
    background-repeat: no-repeat;
    transition: all .1s linear
}

.render .content .video-package .video-placeholder-area:hover:after {
    background-color: transparent
}

.render .content .video-package .video-placeholder-area .video-cover {
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    width: 110px;
    height: 110px;
    opacity: .8;
    transition: opacity .1s linear
}

.render .content .video-package .video-description {
    min-width: 20%;
    min-height: 22px;
    display: none;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    font-size: 13px;
    color: #999;
    line-height: 1.7
}

.render .content .video-package .video-description:empty {
    display: none
}

.render .content .video-package .video-close-button,
.render .content .video-package .video-provider-button {
    text-align: left;
    font-size: 14px;
    padding: 0;
    line-height: 14px;
    cursor: pointer;
    transition: opacity .1s linear
}

.render .content .video-package .video-close-button i,
.render .content .video-package .video-provider-button i {
    position: relative;
    top: 1px
}

.render .content .video-package .video-provider-button {
    float: right
}

.render .content .hljs {
    background-color: transparent;
}

.render .content .hljs-center {
    text-align: center
}

.render .content .hljs-right {
    text-align: right
}

.render .content .hljs-left {
    text-align: left
}


