@import '../../styles/main.less';

.drawer{
    :global {
        .ant-col{
            margin-bottom: 20px;
        }
    }
    .row {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    .column {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 16px;
        color: #3b4859;
        margin-bottom: 20px;
    }
    .sub_title {
        font-size: 14px;
        color: #8998ac;
    }
}
