@media only screen and (max-width:1080px) {
    .sidetoc {
        display: none !important;
    }
}

@media only screen and (min-width:1080px) {
    main {
        position: relative;
        padding-right: 170px;
    }
    .sidetoc {
        margin-left: auto;
        margin-right: auto;
        /*left: calc(100% + (var(--content-max-width))/4 - 180px);*/
        left: calc(100% - 200px);
        position: absolute;
    }
    .pagetoc {
        position: fixed;
        width: 200px;
        height: calc(100vh - var(--menu-bar-height) - 10rem);
        overflow: auto;
        z-index: 1000;
    }
    .pagetoc a {
        border-left: 1px solid var(--sidebar-bg);
        color: var(--fg) !important;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        text-align: left;
        text-decoration: none;
        font-size: 1.2rem;
    }
    .pagetoc a:hover,
    .pagetoc a.active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg) !important;
    }
    .pagetoc .active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg);
    }
}

.page-footer {
    margin-top: 50px;
    border-top: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 0;
    color: gray;
}

/* 修改章节目录的间距 */
.chapter li.chapter-item {
    /* 没有文件时的文字颜色 */
    color: #939da3;
    margin-top: 1rem;
}

/* 修改滚动条宽度 */
::-webkit-scrollbar {
    width: 5px;
}

/* 表格靠左对齐 */
table {
    margin-left: 0 !important;
}

/* 只使用底部的页面跳转，因为左右两边的宽跳转会被 page-toc 遮盖 */
@media only screen and (max-width: 2560px) {
    .nav-wide-wrapper { display: none; }
    .nav-wrapper { display: block; }
}
@media only screen and (max-width: 2560px) {
    .sidebar-visible .nav-wide-wrapper { display: none; }
    .sidebar-visible .nav-wrapper { display: block; }
}
